${yamlencode({
  apiVersion = "operators.coreos.com/v1alpha1"
  kind = "Subscription"
  metadata = { name = "trident-operator", namespace = "trident" }
  spec = {
    channel = release.channel
    name = "trident-operator"
    startingCSV = release.csv
    source = config.source
    sourceNamespace = config.source_namespace
    installPlanApproval = config.install_plan_approval
  }
})}
