apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: ${cert_name}
  namespace: ${cert_namespace}
spec:
  secretName: ${cert_secret_name}
  issuerRef:
    name: ${issuer_name}
    kind: ClusterIssuer
    group: cert-manager.io
  privateKey:
    algorithm: RSA
    size: 2048
    rotationPolicy: Always
  revisionHistoryLimit: 1
  dnsNames:
%{ for domain in cert_domains ~}
    - "${domain}"
%{ endfor ~}
  duration: 2160h    # 90 days
  renewBeforePercentage: 33  # Based on actual issued lifetime, not requested duration
