${yamlencode({
  apiVersion = "storage.k8s.io/v1"
  kind = "StorageClass"
  metadata = {
    name = storage_class_name
    labels = { "app.kubernetes.io/managed-by" = "terraform", "app.kubernetes.io/part-of" = "rosa-gitops-layers" }
  }
  provisioner = "efs.csi.aws.com"
  parameters = {
    provisioningMode = "efs-ap"
    fileSystemId = efs_file_system_id
    directoryPerms = "700"
    basePath = "/dynamic_provisioning"
    ensureUniqueDirectory = "true"
    reuseAccessPoint = "false"
    gidRangeStart = "50000"
    gidRangeEnd = "7000000"
  }
  mountOptions = ["tls"]
  reclaimPolicy = "Retain"
  volumeBindingMode = "Immediate"
})}
