# Cluster Logging Operator Subscription
#
# Installs the OpenShift Cluster Logging Operator from OperatorHub.
# Version 6.x uses Vector as the log collector (not Fluentd).
#
# See logging-channels.yaml: 6.6 for 4.20-4.22; 6.5 for 4.19; 6.2 EUS for 4.16-4.18.
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: cluster-logging
  namespace: openshift-logging
spec:
  channel: ${operator_channel}
  installPlanApproval: Automatic
  name: cluster-logging
  source: redhat-operators
  sourceNamespace: openshift-marketplace
